<div class="layout-topbar">
  <div class="layout-topbar-logo">
    <img src="http://app.e-sgi.com.br/images/logo.png?pfdrid_c=true" alt="Logo">
  </div>
  <div class="layout-topbar-menubutton">
    <button type="text" (click)="display = true" pButton icon="fa fa-bars"></button>
  </div>
</div>
<div class="layout-breadcrumb">
  <div class="ui-g">
    <div class="ui-g-12">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="MÓDULO: METROLOGY">
        <h3>POLÍTICA DE QUALIDADE</h3>
        <p>A Alta Direção estabelece e assegura que a Politica da Qualidade é compreendida, implementada e mantida em todos os níveis da Organização, levando em consideração a visão de futuro da empresa, sua vocação, seus valores e assim está definida:</p>
      </p-panel>
    </div>

    <div class="ui-g">
      <div class="ui-g-4">
          <p-panel header="Title">
            <p>Prestar serviços de calibração e assistência técnica, atendendo com qualidade aos compromissos assumidos com nossos clientes, por meio da melhoria contínua de nossos processos e serviços prestados;</p>
          </p-panel>
        </div>

        <div class="ui-g-4">
            <p-panel header="Title">
              <p>Promover treinamento de nossos funcionários de forma a melhorar os métodos de execução do trabalho e do atendimento à exigências de nosso sistema de gestão da qualidade, visando a prevenção de não-conformidades, e;</p>
          </p-panel>
        </div>

        <div class="ui-g-4">
          <p-panel header="Title">
            <p>Melhorar a qualidade de vida de nossos funcionários e colaboradores.</p>
          </p-panel>
        </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-6">

      </div>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="display" [showCloseIcon]="false" position="left" styleClass="ui-sidebar-sm" [baseZIndex]="1000">
  <div class="layout-panel-menu">
    <app-sidebar-menu></app-sidebar-menu>
  </div>
</p-sidebar>


